.emoteButton {
  position: absolute;
  bottom: 4px;
  right: 3px;
  width: 15px;
  height: 15px;
  padding: 20px;
  background-color: rgb(253, 251, 104);
}

.emotePicker {
  position: absolute;
  overflow-y: hidden;
  display: none;
  width: 80%;
  height: 250px;
  background-color: #2f3136;
  z-index: 3;
  bottom: 0;
  right: 0;
}

.open {
  display: block !important;
}

.emoteForm {
  box-shadow: 0px 2px 0px 0px rgba(6, 6, 7, 0.2);
  padding: 10px;
  height: 20%;
}

#emoteSearch {
  height: 30px;
  padding: 3px !important;
  border-radius: 3px !important;
  margin: 0;
  width: 99%;
}

.optionsContainer {
  display: flex;
  flex-direction: row-reverse;
  max-height: 80%;
}

.emotesWrapper {
  width: 84%;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0 5px;
}

.emotesGroup,
#usedWrapper {
  width: 102%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px !important;
}

.emotesGroup h3 {
  width: 100%;
}

.groupName {
  text-align: left;
  margin-left: 5px;
}

.emoteImg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 3px;
}

.jstrisEmote{
  padding: 6px !important;
}

.jstrisSelector {
  padding: 4px !important;
}

.emoteImg:hover {
  cursor: pointer;
  background-color: rgb(122, 122, 122);
}

.loadingEmote {
  background-color: rgb(71, 71, 71);
  border-radius: 10px !important;
}

.groupLink {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  border-radius: 50%;
}

.groupLink:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

#selectionDiv {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 16%;
  padding: 5px;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #202225;
}

#selectionDiv::-webkit-scrollbar {
  display: none;
}

#searchResults {
  position: relative;
  z-index: 2;
  background-color: #2f3136;
  bottom: 80%;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

#selectionDiv .tooltip > .tooltip-inner, #emotebox .tooltip > .tooltip-arrow {background-color: rgba(0, 0, 0, 0.9);}

#searchResults .tooltip > .tooltip-inner, #emotebox .tooltip > .tooltip-arrow {background-color: rgba(0, 0, 0, 0.9);}
